// webkit scrollbar flow theme
[data-prefers-color="dark"] {
  color-scheme: dark;
}

[data-prefers-color="light"] {
  color-scheme: light;
}

// 滚动条色调以 chorme 浏览器为参考
[data-prefers-color="dark"] .os-theme-dark {
  --os-size: 8px;
  --os-handle-bg: #686868;
  --os-handle-bg-hover: #7b7b7b;
  --os-handle-bg-active: #a1a1a1;
}

[data-prefers-color="light"] .os-theme-dark {
  --os-size: 8px;
  --os-handle-bg: #c1c1c1;
  --os-handle-bg-hover: #a8a8a8;
  --os-handle-bg-active: #787878;
}
